<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788370997933-hjslm8589bocsrntg11qm86jgjjuaa20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788370997933-hjslm8589bocsrntg11qm86jgjjuaa20</string>
	<key>API_KEY</key>
	<string>AIzaSyAlUe5hds7Rfx2mtDAi54strJoOlLdKFBs</string>
	<key>GCM_SENDER_ID</key>
	<string>788370997933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Holadddd.RoundRecorder</string>
	<key>PROJECT_ID</key>
	<string>roundrecorder-17f1a</string>
	<key>STORAGE_BUCKET</key>
	<string>roundrecorder-17f1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788370997933:ios:178747a29285df7bc8bc24</string>
</dict>
</plist>